# Dependencies
/node_modules

# Next.js build outputs
/.next/
/out/

# Firebase
/.firebase/

# Local environment variables
.env.local
.env*.local

# IDE configuration
.vscode/

# Firebase local logs
firebase-debug.log
